.converter-panel {
    display: table;
}

.result-top-title {
    margin: 1px;
    margin-bottom: 0;
    font-weight: bold;
    box-sizing: border-box;
    height: 56px;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 0 0;
    background-color: #F9F9F9;
}

.conversion-success {
    color: #323232;
    font-family: Helvetica;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -0.1px;
    line-height: 16px;
}

.icons-honey-ui-interfaces-comm {
    height: 24px;
    width: 24px;
}

.result-text {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px;
}

.result-link {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1px;
    margin-top: 0;
    padding: 15px;
}

.ace_gutter-cell {
    height: 20px;
    width: 8px;
    font-family: Monaco;
    font-size: 13px;
    line-height: 20px;
}

.review-converted-top-title {
    box-sizing: border-box;
    height: 56px;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 0 0;
    background-color: #F9F9F9;
    font-weight: bold;
    margin: auto;
    display: table-row;
}

.review-converted-panel{
    display: table;
}

.review-converted-row{
    display: table-row;
}

.icons-converter-ui {
    height: 16px;
    width: 16px;
    float: left;
    vertical-align: center;
    margin-top: 6px;
    margin-left: 12px;
}

.review-converted {
    color: #323232;
    font-family: Helvetica;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: -0.1px;
    line-height: 16px;
    float: left;
    display: table-cell;
    margin-top: 18px;
    margin-left: 10px;
}

.rectangle-copy {
    float: left;
    height: 34px;
    width: 80px;
    border-radius: 3px;
    background-color: #4B758B;
    display: table-cell;
    margin-top: 10px;
    margin-left: 400px;
}

.copy {
    float: right;
    height: 14px;
    width: 30px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.09px;
    line-height: 14px;
    display: table-cell;
    margin-top: 8px;
    margin-right: 8px;
}

.rectangle-expand {
    float: right;
    height: 34px;
    width: 93px;
    border-radius: 3px;
    background-color: #4B758B;
    display: table-cell;
    margin-left: 10px;
    margin-top: 10px;
}

.expand {
    float: right;
    height: 14px;
    width: 43px;
    color: #FFFFFF;
    font-family: Helvetica;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: -0.09px;
    line-height: 14px;
    display: table-cell;
    margin-top: 8px;
    margin-right: 8px;
}
